@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700&display=swap");
@import url("./bootstrap.min.css");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes autofill {
  to {
    color: white;
    background: transparent;
  }
}

@keyframes autofill {
  to {
    color: white;
    background: transparent;
  }
}

.find {
  border: 1px solid red;
}

.navbar {
  padding: 0.7rem 1rem !important;
}

body {
  background: #fafafa;
  font-family: "Nunito", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.row {
  margin: 0px;
}

*[class^="col-"],
*[class*=" col-"] {
  padding: 0px;
}

section[class*="sec"] {
  padding: 10vmin 0vmin;
}

:root {
  --primary: #4c47ef;
  --secondary: #112690;
  --gradient-primary: linear-gradient(-45deg, #4c47ef 0%, #152a96 85%, #112690 92%);
  --gradient-secondary: linear-gradient(40.13deg, #3d38c2 0%, #4a36bc 48.5%, #5d32b4 100%);
}

.highlight {
  color: #4c47ef;
}

.highlight-l {
  color: white;
}

.highlight-d {
  color: #2d2d2d;
}

.btn {
  padding: 0.6rem 0.7rem;
}

.btn-curve {
  text-transform: uppercase;
  background-color: white;
  border-radius: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn-curve:hover {
  border-radius: 2px 2px 15px 2px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn.btn-bo-primary {
  background-color: white;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin: 5px;
  -webkit-transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
}

.btn.btn-bo-primary:hover {
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn-highlight {
  background: linear-gradient(176.62deg, #4742dd 0%, #7940f1 100%);
  color: white !important;
  margin: 0px 10px;
  padding-left: 1.2rem !important;
  padding-right: 1.2rem !important;
  text-transform: uppercase;
  background-color: white;
  border-radius: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn-highlight:hover {
  background: linear-gradient(-45deg, #4c47ef 0%, #152a96 85%, #112690 92%);
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.blue-butn-outline {
  padding: 10px 15px;
  border: 1px solid #5250c5;
  color: #172d9d;
  font-size: 12px;
  font-family: "Roboto Slab", serif;
  border-radius: 40px;
  width: 200px;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.blue-butn-outline:hover {
  background: #c93e39;
  color: #fff;
  border: none;
}

.blue-butn {
  background: var(--gradient-primary);
  color: #fff !important;
  padding: 10px 15px;
  font-size: 12px;
  font-family: "Roboto Slab", serif;
  border-radius: 40px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.blue-butn:hover {
  background: #c93e39;
  color: #fff;
  border: none;
}

.nav-up {
  top: -40px;
}

#top-nav {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  top: 0px;
  width: 100%;
  background: #1b2126;
  z-index: 5;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  position: -webkit-sticky;
  position: sticky;
}

.navbar-brand img {
  width: 80px !important;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-left: 0;
  padding: 5px !important;
}

.navbar-brand {
  padding: 0 10px;
}

.scrollUp {
  -webkit-transform: translateY(-100px) !important;
          transform: translateY(-100px) !important;
}

.navbar {
  border-bottom: 1px solid #5250c5;
  padding: 15px 0 !important;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 0 auto;
  text-align: center;
}

.navbar li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}

.nav-link a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none !important;
  padding: 10px 5px;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.nav-link a:hover {
  color: #fff;
}

a {
  position: relative;
}

.nav-link a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ee394e;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link a:hover:after {
  width: 100%;
  left: 0;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler-icon {
  background: none !important;
}

.navbar-nav ul {
  padding: 0 !important;
  margin: 0 !important;
}

.navbar-nav ul .nav-link {
  margin: 0 !important;
  display: inline-block;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 0;
  position: absolute;
  right: 22px;
}

.hamRotate.active {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamRotate180.active {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fff;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham1 .top {
  stroke-dasharray: 40 139;
}

.ham1 .bottom {
  stroke-dasharray: 40 180;
}

.ham1.active .top {
  stroke-dashoffset: -98px;
}

.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

.last-footer {
  padding: 50px 0;
  margin: 0;
  background: #1b2126;
}

@media only screen and (max-width: 767px) {
  .last-footer {
    text-align: center;
  }
}

.last-footer .fotr-logo-sec {
  padding: 0;
  margin: 0;
}

.last-footer .fotr-logo-sec .social-icon {
  display: block;
}

@media only screen and (max-width: 767px) {
  .last-footer .fotr-logo-sec .social-icon {
    margin-bottom: 30px !important;
  }
}

.last-footer .fotr-logo-sec .social-icon a {
  font-size: 12px;
  font-family: "Roboto", serif;
  margin-bottom: 5px;
  color: #fff;
  display: block;
}

@media only screen and (max-width: 767px) {
  .last-footer .fotr-logo-sec .social-icon a {
    font-size: 20px;
  }
}

.last-footer .fotr-logo-sec .social-icon a img {
  width: 10px;
  color: #fff;
  margin-right: 15px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.last-footer .fotr-menu-sec {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .last-footer .fotr-menu-sec {
    margin-bottom: 30px !important;
  }
}

.last-footer .fotr-menu-sec h5 {
  font-family: "Roboto", serif;
  margin-bottom: 15px;
  color: #fff;
}

.last-footer .fotr-menu-sec ul {
  list-style-type: none;
  display: block;
  padding: 0;
  margin: 0;
}

.last-footer .fotr-menu-sec ul li {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.last-footer .fotr-menu-sec ul li a {
  color: #fff;
  list-style: none;
  font-size: 12px;
  text-transform: uppercase;
}

.last-footer .fotr-menu-sec ul li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ee394e;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.last-footer .fotr-menu-sec ul li a:hover:after {
  width: 100%;
  left: 0;
}

@media only screen and (max-width: 767px) {
  .last-footer .fotr-menu-sec ul li a {
    font-size: 20px;
  }
}

.last-footer .Subscribe-btn h5 {
  font-family: "Roboto", serif;
  margin-bottom: 15px;
  color: #fff;
}

.last-footer .Subscribe-btn ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
}

@media only screen and (max-width: 767px) {
  .last-footer .Subscribe-btn ul {
    font-size: 20px;
  }
}

.last-footer .Subscribe-btn ul li {
  list-style: none;
  display: block;
  padding: 0 !important;
  width: 40%;
}

@media only screen and (max-width: 767px) {
  .last-footer .Subscribe-btn ul li {
    margin: 0 auto;
    width: 100%;
  }
}

.last-footer .Subscribe-btn ul [type="email"] {
  width: 100% !important;
  background: none;
  margin-bottom: 10px;
  padding: 15px;
  text-align: center;
  color: #818ecf !important;
  border: 1px solid #7481c0;
  border-radius: 1vmin;
}

.last-footer .Subscribe-btn ul [type="submit"] {
  width: 100% !important;
  background: #fff;
  display: inline-block;
  margin: 0;
  padding: 15px;
  text-align: center;
  border: none;
  color: #000;
  font-family: "Roboto Slab", serif;
  border-radius: 1vmin;
}

#goto-top-button {
  display: inline-block;
  background-color: #ee394e;
  padding: 15px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color .3s, 
 opacity .5s, visibility .5s;
  transition: background-color .3s, 
 opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  cursor: pointer;
  -webkit-transform: rotateZ(270deg);
          transform: rotateZ(270deg);
}

@media only screen and (max-width: 767px) {
  #goto-top-button {
    bottom: 40px !important;
  }
}

#goto-top-button :hover {
  cursor: pointer;
  background-color: #333;
}

#goto-top-button :active {
  background-color: #555;
}

#goto-top-button.show {
  opacity: 1;
  visibility: visible;
}
/*# sourceMappingURL=common.css.map */