// @import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700&display=swap");
// @import url("./bootstrap.min.css");

//scss variables
// $color-primary: rgb(76, 71, 239);
// $color-secondary: rgb(17, 38, 144);

$color-primary: #1b2126;
// $color-primary: #5250c5;
$color-secondary: #ee394e;
$gradient-primary: linear-gradient(
  -45deg,
  $color-primary 0%,
  #152a96 85%,
  $color-secondary 92%
);
$gradient-secondary: linear-gradient(
  40.13deg,
  #3d38c2 0%,
  #4a36bc 48.5%,
  #5d32b4 100%
);

$color-base-primary: white;
$color-base-secondary: #80808017;
$color-shadow: rgba(0, 0, 0, 0.3);
$color-black-matt: rgb(45, 45, 45);
$color-grey: rgba(0, 0, 0, 0.8);

$font-primary: "Nunito", "Roboto Slab", "Roboto", "Segoe UI", sans-serif;
$font-secondary: "Roboto Slab", "Roboto", "Segoe UI", sans-serif;

//css variables
:root {
  --primary: #{$color-primary};
  --secondary: #{$color-secondary};
  --gradient-primary: #{$gradient-primary};
  --gradient-secondary: #{$gradient-secondary};
}

$shadow-primary: 0 5px 3vmin -5px $color-shadow;
$shadow-deep: 0 2px 3vmin -5px rgba(61, 83, 255, 0.3);

$breakpoints: (
  small-min: "min-width: 0px",
  small-max: "max-width: 767px",
  medium-min: "min-width: 768px",
  medium-max: "max-width: 1024px",
  large-min: "min-width: 1025px"
);

//generic resets
*,
*:before,
*:after {
  box-sizing: border-box;
}

@keyframes autofill {
  to {
    color: $color-base-primary;
    background: transparent;
  }
}

.find {
  border: 1px solid red;
}

.navbar {
  padding: 0.7rem 1rem !important;
}

body {
  background: #fafafa;
  // font-family: "Lexend Deca", sans-serif;
  font-family: "Nunito", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

//reset bootstrap grid
.row {
  margin: 0px;
}

*[class^="col-"],
*[class*=" col-"] {
  padding: 0px;
}

section[class*="sec"] {
  padding: 10vmin 0vmin;
}

// Mixins
@mixin mq-small-only {
  @media only screen and (unquote(map-get($breakpoints, small-max))) {
    @content;
  }
}

@mixin mq-medium {
  @media only screen and (unquote(map-get($breakpoints, medium-min))) {
    @content;
  }
}

@mixin mq-large {
  @media only screen and (unquote(map-get($breakpoints, large-min))) {
    @content;
  }
}

@mixin root-align-center {
  text-align: center;
  & > * {
    text-align: left;
  }
}

@mixin mini-card {
  padding: 2vmin 5vmin;
  color: $color-black-matt;
  display: flex;
  position: relative;
  overflow: hidden;
  color: #949494;
  user-select: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background-color: $color-base-primary;
  transition: border-radius 0.15s, shadow 0.3s, transform 0.3s;
  // margin: auto;

  &:hover {
    color: $color-base-primary;
    background-color: $color-primary;
    background: $gradient-primary;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }

  .icon {
    margin-right: calc(5px + 2vmin);
    @include align-center-flex;
    font-size: 2rem;
  }

  .text {
    @include align-center-flex;
  }
}

@mixin panel {
  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 3vmin -5px rgba(61, 83, 255, 0.1);
  // margin: 3vmin 2vmin;
  padding: 4vmin;
  border-radius: 4px;
  border-radius: 15px;
  background-color: $color-base-primary;
}

@mixin full-fit {
  min-height: 100vh;
  width: 100%;
  object-fit: cover;
}

@mixin align-center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

@mixin vertical-align-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin align-center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mat-contact-us-form {
  input,
  textarea {
    border: none;
    border-bottom: 1px solid $color-grey;
    border-radius: 0px;
    background-color: inherit;
    box-shadow: none;
    margin: 5px;
  }

  input:-webkit-autofill {
    animation-name: autofill;
    animation-fill-mode: both;
  }
}

//generic styles
.highlight {
  color: $color-primary;
}

.highlight-l {
  color: $color-base-primary;
}

.highlight-d {
  color: $color-black-matt;
}

.btn {
  padding: 0.6rem 0.7rem;
}

.btn-curve {
  $c: 2px;

  text-transform: uppercase;
  background-color: $color-base-primary;
  border-radius: $c;
  transition: 0.3s;
  box-shadow: 1px 1px 1px $color-shadow;

  &:hover {
    border-radius: $c $c 15px $c;
    box-shadow: 1px 1px 5px $color-shadow;
    transform: scale(1.1);
  }
}

.btn.btn-bo-primary {
  background-color: $color-base-primary;
  box-shadow: 0 2px 5px $color-shadow;
  margin: 5px;
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    box-shadow: 0 2px 8px $color-shadow;
    transform: scale(1.05);
  }
}

.btn-highlight {
  $c: 2px;

  background: linear-gradient(176.62deg, #4742dd 0%, #7940f1 100%);
  color: $color-base-primary !important;
  margin: 0px 10px;
  padding-left: 1.2rem !important;
  padding-right: 1.2rem !important;

  text-transform: uppercase;
  background-color: $color-base-primary;
  border-radius: $c;
  transition: 0.3s;
  box-shadow: 1px 1px 1px $color-shadow;

  &:hover {
    background: $gradient-primary;
    box-shadow: 1px 1px 5px $color-shadow;
  }
}

@mixin slider {
  .content {
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 1200px;
    min-width: 300px;
  }

  .slick-slider {
    margin: 30px auto 50px;
  }

  .slick-prev,
  .slick-next {
    color: $color-base-primary;
    opacity: 1;
    height: 40px;
    width: 40px;
    margin-top: -20px;

    &:before {
      content: none;
    }

    path {
      fill: rgba(255, 255, 255, 0.4);
    }

    &:hover {
      path {
        fill: #ffffff;
      }
    }
  }

  .slick-prev {
    left: -35px;
  }

  .slick-next {
    right: -35px;
  }

  .slick-dots li button:before {
    color: rgba(255, 255, 255, 0.4);
    opacity: 1;
    font-size: 8px;
  }

  .slick-dots li.slick-active button:before {
    color: #ffffff;
  }

  .quote-container {
    min-height: 200px;
    color: #666666;
    font-size: 36px;
    margin: 0 20px;
    position: relative;

    &:hover {
      cursor: grab;
    }

    .portrait {
      position: absolute;
      top: 0;
      bottom: 0;
      // right: 0;
      margin: auto;
      padding: 2vmin;

      height: 140px;
      width: 140px;
      //border-radius: 50%;
      overflow: hidden;

      img {
        display: block;
        height: auto;
        width: 100%;
      }
    }

    .quote {
      position: relative;
      z-index: 600;
      // padding: 40px 0 40px 180px;
      margin: 0;
      padding: 2vmin;

      font-size: 20px;
      font-style: italic;
      line-height: 1.4 !important;
      font-family: Calibri;
      text-align: right;
      color: $color-base-primary;

      @media only screen and (min-width: 768px) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      p {
        position: relative;
        margin-bottom: 20px;

        &:first-child:before {
          content: "\201C";
          color: rgba(255, 255, 255, 0.5);
          font-size: 1.5em;
          font-weight: 700;
          opacity: 1;
          position: absolute;
          top: -0.4em;
          left: -0.2em;
          text-shadow: none;
          z-index: -10;
        }
      }

      cite {
        display: block;
        font-size: 14px;

        span {
          font-size: 16px;
          font-style: normal;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
      }
    }
  }
}

@mixin flex-alternate($pattern: "") {
  @if $pattern == reverse {
    &:nth-of-type(odd) {
      flex-direction: row-reverse;
    }
    &:nth-of-type(even) {
      flex-direction: row;
    }
  } @else {
    &:nth-of-type(odd) {
      flex-direction: row;
    }
    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }
  }
}

@mixin link-underlined {
  &:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: $color-secondary;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  &:hover:after {
    width: 100%;
    left: 0;
  }
}

// landing page css

// buttons

.blue-butn-outline {
  padding: 10px 15px;
  border: 1px solid $color-primary;
  color: lighten($color: $color-primary, $amount: 3%);
  font-size: 12px;
  font-family: $font-secondary;
  border-radius: 40px;
  text-decoration: none;
  transition: background-color 0.3s;
  width: 150px;
  text-align: center;

  &:hover {
    background-color: #c93e39;
    border: 1px solid #c93e39;
    color: #fff;
  }
}

.blue-butn {
  // background: var(--gradient-primary);
  background-color: $color-primary;
  color: #fff !important;
  padding: 10px 15px;
  font-size: 12px;
  font-family: $font-secondary;
  border-radius: 40px;
  transition: background-color 0.3s;
  width: 150px;
  text-align: center;

  &:hover {
    background-color: #c93e39;
    color: #fff;
    border: none;
  }
}

// navbar css

.nav-up {
  top: -40px;
}

#top-nav {
  font-family: $font-secondary;
  font-size: 15px;
  top: 0px;
  width: 100%;
  background: $color-primary;
  z-index: 5;
  transition-duration: 0.4s;
  position: sticky;
  // margin-bottom: calc(3vmin);

  & > nav {
    position: sticky;
    width: 100%;
    top: 0px;
    background-color: rgba($color-primary, 0.98);
  }

  @include mq-small-only {
    .logo-sec a img {
      margin-left: 30px;
    }
  }

  button.navbar-toggler {
    height: 0px;
  }

  .my-search {
    display: flex;
    align-items: center;
    justify-content: center;
    
    #new-search {
      cursor: pointer;
    }

    & > * {
      margin-left: 2.5vmin;
    }
    .form-control {
      transition: 0.3s;
    }
  }
}
.home, .page-template-my-companies {
  #top-nav {
    position: fixed;
  }
}

.navbar-brand img {
  width: 80px !important;
}
.nav-link {
  font-family: $font-secondary;
  font-size: 14px;
  margin-left: 0;
  padding: 5px !important;
}

.navbar-brand {
  padding: 0 10px;
}
.scrollUp {
  transform: translateY(-100px) !important;
}
.navbar {
  border-bottom: 1px solid #5250c5;
  padding: 15px 0 !important;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 0 auto;
    text-align: center;
  }
  li {
    display: table-cell;
    position: relative;
    padding: 15px 0;
  }
}

.nav-link a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none !important;
  padding: 10px 5px;
  position: relative;
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: 300;
}
.nav-link a:hover {
  color: #fff;
}
a {
  position: relative;
}
.nav-link a {
  @include link-underlined;
}
.navbar-toggler {
  border: none !important;
}
.navbar-toggler-icon {
  background: none !important;
}

.navbar-nav ul {
  padding: 0 !important;
  margin: 0 !important;

  .nav-link {
    margin: 0 !important;
    display: inline-block;
  }
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 0;
  position: absolute;
  right: 22px;
}

.hamRotate.active {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamRotate180.active {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fff;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham1 .top {
  stroke-dasharray: 40 139;
}

.ham1 .bottom {
  stroke-dasharray: 40 180;
}

.ham1.active .top {
  stroke-dashoffset: -98px;
}

.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

// footer

.last-footer {
  padding-top: 50px;
  margin: 0;
  background: $color-primary;

  @include mq-small-only {
    text-align: center;
  }

  .fotr-logo-sec {
    padding: 0;
    margin: 0;

    .social-icon {
      display: block;

      @include mq-small-only {
        margin-bottom: 30px !important;
      }

      a {
        font-size: 12px;
        font-family: $font-secondary;
        margin-bottom: 5px;
        color: #fff;
        display: block;

        @include mq-small-only {
          font-size: 20px;
        }

        img {
          width: 10px;
          color: #fff;
          margin-right: 15px;
          filter: invert(1);
        }
      }
    }
  }

  .fotr-menu-sec {
    padding: 0;
    margin: 0;

    @include mq-small-only {
      margin-bottom: 30px !important;
    }

    h5 {
      font-family: $font-secondary;
      margin-bottom: 15px;
      color: #fff;
    }

    ul {
      list-style-type: none;
      display: block;
      padding: 0;
      margin: 0;

      li {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;

        a {
          @include link-underlined;
          color: #fff;
          list-style: none;
          font-size: 12px;
          // text-transform: uppercase;

          @include mq-small-only {
            font-size: 20px;
          }
        }
      }
    }
  }

  form.seva-form.formkit-form {
    .seva-fields.formkit-fields {
      display: flex;
      flex-direction: column;
    }
  }

  .Subscribe-btn {
    h5 {
      font-family: $font-secondary;
      margin-bottom: 15px;
      color: #fff;
    }

    ul {
      display: block;
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 12px;

      @include mq-small-only {
        font-size: 20px;
      }

      li {
        list-style: none;
        display: block;
        padding: 0 !important;
        // width: 40%;

        @include mq-small-only {
          margin: 0 auto;
          width: 100%;
        }
      }

      [type="email"] {
        width: 100% !important;
        background: none;
        margin-bottom: 10px;
        padding: 15px;
        text-align: center;
        color: #818ecf !important;
        border: 1px solid #7481c0;
        border-radius: 1vmin;
      }

      [type="submit"] {
        width: 100% !important;
        background: #fff;
        display: inline-block;
        margin: 0;
        padding: 15px;
        text-align: center;
        border: none;
        color: #000;
        font-family: $font-secondary;
        border-radius: 1vmin;
      }
    }
  }
}

// go to top button

#goto-top-button {
  display: inline-block;
  background-color: $color-base-primary;
  padding: 15px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  cursor: pointer;
  transform: rotateZ(270deg);

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq-small-only {
    bottom: 40px !important;
  }

  &:hover,
  &:active {
    background-color: $color-secondary;
    color: $color-base-primary;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

@mixin text-formal {
  color: $color-black-matt;

  p,
  ul {
    font-size: calc(10px + 1.1vmin);
    color: #5e5e5e;
    margin-bottom: 1.5rem;
    line-height: 2;

    img {
      margin-bottom: 0px;
    }
  }

  li {
    color: #5e5e5e;
  }

  img {
    max-height: 50vh;
    max-width: 100%;
    object-fit: contain;
    height: auto;
    margin-bottom: 2vmin;
    // @include mq($from: tablet) {
    //   object-fit: cover;
    // }
  }

  h {
    &1 {
      margin-top: 3vmin;
      font-size: calc(13px + 2.1vmin);
    }

    &2 {
      margin-top: 2.9vmin;
      font-size: calc(11px + 2vmin);
    }

    &3 {
      margin-top: 2.8vmin;
      font-size: calc(9px + 2vmin);
    }

    &4 {
      margin-top: 2.4vmin;
      font-size: calc(7px + 2vmin);
    }

    &5 {
      margin-top: 2vmin;
      font-size: calc(5px + 2vmin);
    }

    &6 {
      margin-top: 1.6min;
      font-size: calc(3px + 2vmin);
    }
  }

  .title {
    font-weight: bold;
    color: $color-black-matt;
    margin-bottom: 1vmin;
  }

  ul {
    li {
      margin-bottom: 1vmin;
    }
  }

  @content;
}

// header#top-nav ~ *:nth-of-type(1):not(.banner):not(#wpadminbar):not(footer) {
//   margin-top: 100px;
// }



.sec-title {
  /* font-weight: 400;
  font-family: $font-primary;
  font-size: calc(10px + 3vmin);
  margin-top: 20px;
  text-align: center; */
  font-family: "Tahoma",Sans-serif;
  font-size: 29px !important;
  font-weight: 700 !important;
  text-align: center;
  /* color: #1b2126; */
  margin-bottom: 15px;
}
